.title-container {
    height: 90vh;
    background: url("../img/background.jpg") center center no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #000;
  }